@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Manrope', sans-serif;
  background-color: #ecf2f8;
}

.card {
  min-width: 330px;
  margin: 75px 25px;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}

@media (min-width: 769px) {
  .card {
    max-width: 730px;
  }
}

.card-header img {
  display: block;
  width: 100%;
}

.card-body {
  padding: 40px 30px;
  color: #48556a;
}

.card-body .header {
  margin-bottom: 25px;
  font-size: 1.3rem;
}

.card-body .text {
  font-size: 1.1rem;
  color: #6d7f97;
}

.card-body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 0 0;
  font-size: 1.1rem;
}

.card-body-footer .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-body-footer .user img {
  width: 40px;
  border-radius: 50%;
}

.card-body-footer .user-info {
  margin-left: 20px;
  line-height: 1.5;
}

.card-body-footer .user-info .username {
  font-weight: 700;
  color: #48556a;
}

.card-body-footer .user-info .date {
  color: #9eafc2;
}

.card-body-footer .share-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px 7px 7px;
  background-color: #ecf2f8;
}

.card-body-footer .share-btn img {
  width: 100%;
}
